ion-button{
    --background: #C7271A;
    font-size: 14px;
    width: 100%;
    text-transform: capitalize;
}
ion-input{
    border: 1px solid #ccc;
    line-height: 1;
    height: 35px;
    width: 100%;
    --background: #ffffff;
}
.bg-main{
--background: #f2f2f2;
}
.padTpLg{
padding-top: 30px;
}
 
.gblPadding{
padding: 20px;
}

ion-label{padding-top: 10px;}
.text-center{
    text-align: center;
}