<ion-header class="text-center">
  <ion-toolbar>
  <ion-title>PROFILE</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content class="bg-main">
  
  <form>
    <ion-grid class="gblPadding">
      <ion-row>
        <ion-label >Name</ion-label>
      </ion-row>
      <ion-row>
        <ion-input type="text" required></ion-input>
      </ion-row>
 
      <ion-row>
        <ion-label >Email</ion-label>
      </ion-row>
      <ion-row>
        <ion-input type="text" required></ion-input>
      </ion-row>
 
      <ion-row>
        <ion-label >Mobile Number</ion-label>
      </ion-row>
      <ion-row>
        <ion-input type="text" required></ion-input>
      </ion-row>
  <ion-row class="padTpLg">
   <ion-button expand="block">Update</ion-button>
  </ion-row>
    </ion-grid>
  </form>
 
  </ion-content>