<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-row>
  <ion-col>
    <ion-input type="text" required></ion-input>
  </ion-col>
  <ion-col>
    <ion-button type="submit" color="danger" expand="block">Update</ion-button>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="dark">Resend Code</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-buttons slot="end">
      <ion-back-button>SIGN UP</ion-back-button>
      </ion-buttons>
  </ion-row>
</ion-content>
