<ion-content class="bg-main">
  
  <form>
    <ion-grid class="gblPadding">
      <ion-row>
      <h4 class="padTpLg">SIGN UP</h4>
      </ion-row>
      <ion-row>
        <ion-label >Name</ion-label>
      </ion-row>
      <ion-row>
        <ion-input type="text" required></ion-input>
      </ion-row>
 
      <ion-row>
        <ion-label >Email</ion-label>
      </ion-row>
      <ion-row>
        <ion-input type="text" required></ion-input>
      </ion-row>
 
      <ion-row>
        <ion-label >Mobile Number</ion-label>
      </ion-row>
      <ion-row>
        <ion-input type="text" required></ion-input>
      </ion-row>
  <ion-row class="padTpLg">
   <ion-button expand="block">Sign Up</ion-button>
  </ion-row>
    </ion-grid>
  </form>
 
  </ion-content>