.bg-main{
background: #f2f2f2;
}
.padTpLg{
padding-top: 30px;
}
 
.gblPadding{
padding: 20px;
}

.text-center{
    text-align: center;
}

.content{
    font-size: 13px;
}

ion-icon{
    position: absolute;
    right: 0;
    top: 5px;
    padding: 10px 20px;
}

.ionicon{
    width: 25px;
    height: 25px;
}
