<ion-header class="text-center">
  <ion-toolbar>
  <ion-title text-center>PROFILE</ion-title>
  <ion-icon class="edit-profile-icon" name="create-outline"></ion-icon>
  </ion-toolbar>
  </ion-header>
  <ion-content class="bg-main content">
  <form>
    <ion-grid class="gblPadding">
      <ion-row>
       <ion-label>Suhasa Gottumukkala</ion-label>
      </ion-row>
      <ion-row>
       <ion-label position="floating">suhasa@gmail.com</ion-label>
      </ion-row>
      <ion-row>
       <ion-label position="floating">(787) 555-0355</ion-label>
      </ion-row>
    </ion-grid>
  </form>
 
  </ion-content>