<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-title>coupons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<ion-card>
  <ion-avatar slot="start">
    <img [src]="assets/icon/favicon.png">
  </ion-avatar>
  <ion-label>
    <h4>QUAKER RICE CAKES</h4>
    <h2>$1 OFF</h2>
    <h6>THRU 4/30</h6>
  </ion-label>
</ion-card>
<ion-card>
  <ion-avatar slot="start">
    <img [src]="assets/icon/favicon.png">
  </ion-avatar>
  <ion-label>
    <h4>QUAKER RICE CAKES</h4>
    <h2>$1 OFF</h2>
    <h6>THRU 4/30</h6>
  </ion-label>
</ion-card>
<ion-card>
  <ion-avatar slot="start">
    <img [src]="assets/icon/favicon.png">
  </ion-avatar>
  <ion-label>
    <h4>QUAKER RICE CAKES</h4>
    <h2>$1 OFF</h2>
    <h6>THRU 4/30</h6>
  </ion-label>
</ion-card>
<ion-card>
  <ion-avatar slot="start">
    <img [src]="assets/icon/favicon.png">
  </ion-avatar>
  <ion-label>
    <h4>QUAKER RICE CAKES</h4>
    <h2>$1 OFF</h2>
    <h6>THRU 4/30</h6>
  </ion-label>
</ion-card>
<ion-card>
  <ion-avatar slot="start">
    <img [src]="assets/icon/favicon.png">
  </ion-avatar>
  <ion-label>
    <h4>QUAKER RICE CAKES</h4>
    <h2>$1 OFF</h2>
    <h6>THRU 4/30</h6>
  </ion-label>
</ion-card>
<ion-card>
  <ion-avatar slot="start">
    <img [src]="assets/icon/favicon.png">
  </ion-avatar>
  <ion-label>
    <h4>QUAKER RICE CAKES</h4>
    <h2>$1 OFF</h2>
    <h6>THRU 4/30</h6>
  </ion-label>
</ion-card>
<ion-card>
  <ion-avatar slot="start">
    <img [src]="assets/icon/favicon.png">
  </ion-avatar>
  <ion-label>
    <h4>QUAKER RICE CAKES</h4>
    <h2>$1 OFF</h2>
    <h6>THRU 4/30</h6>
  </ion-label>
</ion-card>
</ion-content>
</ion-app>